<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="assets/undraw_Welcome_re_h3d9.png" />
        <h2>Welcome to Car Rental App</h2>
        
      </div>

      <div class="swipe-prompt">
        <ion-label>Swipe to next page</ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>

    </ion-slide>

    <ion-slide>
      <img src="assets/undraw_order_a_car_3tww.png" />
      <h2>What is Vehicle Rental App?</h2>
      <p>
        <b>Vehicle Rental App?</b> is a mobile application that helps people to rent vehicles from different people who offers their car for rental.
      </p>
      <div class="swipe-prompt">
        <ion-label>Swipe to next page</ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/undraw_Upgrade_re_gano.png" style="height: 230px;" />
      <h2>Ready to Rent?</h2>
      <p>Let's Login first.</p>
      <!-- button -->
      <ion-button routerLink="/login" fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
